@charset "UTF-8";
/**
//* Phone
*/
/**
//* Tablet
*/
/**
//* Desctop
*/
/**
//* Castom media
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

main,
header > a {
  letter-spacing: 0.03em;
}

.visible-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* КОНТЕЙНЕР */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form-button,
.modal-button {
  height: 50px;
  width: 200px;
  padding: 10px 28px;
  background-color: #2196f3;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus,
.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

.form-button__text,
.modal-button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.form-button__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__icon {
  width: 40px;
  height: 40px;
  margin: auto;
}
.menu__icon:hover, .menu__icon:focus {
  fill: #2196f3;
}

.header {
  position: relative;
  color: #ececec;
  height: 60px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
.header a, .header ul, .header li, .header nav {
  height: 100%;
}
.header__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1923;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo__text {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo-mobile--position {
    position: absolute;
    left: 15px;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
    margin-left: 87px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 109px;
  }
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation-list__link {
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196f3;
}
.navigation-list--current {
  color: #2196f3;
}
.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list--selected {
  position: relative;
}
.navigation-list--selected::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.mail-tel {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mail-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 90px;
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .mail-tel {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    margin-left: auto;
  }
}
.mail-tel__item:not(:last-child) {
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .mail-tel__item:not(:last-child) {
    padding-bottom: 0;
    margin-right: 30px;
  }
}
.mail-tel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .mail-tel__link {
    font-size: 14px;
  }
}
.mail-tel__link:hover, .mail-tel__link:focus {
  color: #2196f3;
}

/* SVG NAV MAIL-TEL */
.mail-tel__link:hover .mail,
.mail-tel__link:hover .tel,
.mail-tel__link:focus .mail,
.mail-tel__link:focus .tel {
  fill: #2196f3;
}

.mail {
  fill: #757575;
  margin-right: 10px;
  height: 12px;
  width: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  fill: #757575;
  margin-right: 10px;
  height: 16px;
  width: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hat {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_480.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-color: #2f303a;
  color: #ffffff;
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_960.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_1536.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_1600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hat {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_3200.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_3200.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hat {
    padding: 200px 0;
    font-size: 44px;
  }
}
.hat__hero {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.3636;
  text-transform: uppercase;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hat__hero {
    font-size: 44px;
    max-width: 696px;
  }
}
.hat__button {
  display: block;
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hat__button:hover, .hat__button:focus {
  background-color: #188ce8;
}

.hang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .hang-list__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .hang-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.hang-list__title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .hang-list__title {
    text-align: center;
  }
}
.hang-list__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

/* hang-icon */
.hang-icon {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hang-icon__item {
  width: 70px;
  height: 70px;
}
@media screen and (min-width: 480px) {
  .hang-icon {
    width: 450px;
    padding: 25px 190px;
  }
}
@media screen and (min-width: 768px) {
  .hang-icon {
    width: 354px;
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .hang-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    padding: 25px 100px;
  }
}

.occupation-visible {
  display: none;
}
@media screen and (min-width: 1200px) {
  .occupation-visible {
    display: block;
    padding-bottom: 94px;
  }
}

.occupation-info {
  position: relative;
}

.occupation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}
.occupation-list__item {
  position: relative;
}
.occupation-list__text {
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-list__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-list__item {
  max-width: 100%;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team-list__item {
    width: auto;
  }
}
.team-list__image {
  width: 100%;
  padding-bottom: 30px;
}
.team-list__title {
  margin-bottom: 10px;
}
.team-list__text {
  margin-bottom: 30px;
}

/* social-icon */
.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}
.social-icon__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__list:not(:last-child) {
  margin-right: 10px;
}
.social-icon__item {
  fill: #757575;
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__link:hover, .social-icon__link:focus {
  background-color: #2196f3;
}
.social-icon__link:hover .social-icon__item, .social-icon__link:focus .social-icon__item {
  fill: #ffffff;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients-list__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
    width: auto;
  }
}
.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients-list__link {
    width: 210px;
    padding: 16px 52px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
    padding: 16px 32px;
  }
}
.clients-list__icon {
  fill: #757575;
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}
.clients-list__link:hover {
  border: 1px solid #2196f3;
}

/* CELLAR CONTENT  */
.logo--size {
  padding-bottom: 20px;
}

.logo--white {
  color: #ffffff;
}

.cellar {
  background-color: #2f303a;
  padding: 60px 0;
}
.cellar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .cellar__content {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: start;
  }
}
@media screen and (max-width: 767px) {
  .cellar__content--box {
    width: 100%;
  }
}
.cellar__link {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cellar__link:hover, .cellar__link:focus {
  color: #2196f3;
}
.cellar__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

.adds {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adds__item:not(:last-child) {
  padding-bottom: 9px;
}
.adds__item:last-child {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .adds__item:not(:last-child) {
    padding-bottom: 9px;
  }
  .adds__item:last-child {
    margin-bottom: 0;
  }
}

/* PART CELLAR  */
.part-cellar {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .part-cellar {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .part-cellar {
    margin-left: 70px;
  }
}

.cellar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .cellar-icon {
    margin-bottom: 60px;
  }
}
.cellar-icon__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), rgba(255, 255, 255, 0.1);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cellar-icon__list:not(:last-child) {
  margin-right: 10px;
}
.cellar-icon__link:hover, .cellar-icon__link:focus {
  background: none;
  background-color: #2196f3;
}
.cellar-icon__item {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.part-cellar__title,
.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* FORM-CELLAR */
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}
.footer-form__input {
  height: 50px;
  max-width: 450px;
  width: 100%;
  padding: 15px 0;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: var(--color-futter);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .footer-form__input {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}
.footer-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* MODAL */
.close-button {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-button__icon {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button__icon:hover, .close-button__icon:focus {
  fill: #2196f3;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  max-width: 100%;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
    height: 580px;
  }
}
.modal__title {
  padding: 0 40px;
  padding-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

/* FORM-MODAL */
.modal-form {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.modal-form__input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__box {
  position: relative;
}
.modal-form__icon {
  position: absolute;
  top: 11px;
  bottom: 11px;
  left: 12px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus, .modal-form__feedback:focus {
  border: 1px solid #2196f3;
}
.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}
.modal-form__name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form > .modal-button {
  margin: auto;
  margin-bottom: 40px;
  display: block;
}
.modal-form__feedback {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__feedback::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__feedback::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__feedback:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__feedback::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__feedback::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-form__feedback::-webkit-input-placeholder {
    font-size: 12px;
  }
  .modal-form__feedback::-moz-placeholder {
    font-size: 12px;
  }
  .modal-form__feedback:-ms-input-placeholder {
    font-size: 12px;
  }
  .modal-form__feedback::-ms-input-placeholder {
    font-size: 12px;
  }
  .modal-form__feedback::placeholder {
    font-size: 12px;
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.checkbox__link {
  text-decoration: underline;
  text-underline-position: under;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6666;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.714;
  }
}
.checkbox__text {
  margin-left: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.714;
  }
}
.checkbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  background-color: transparent;
}
.checkbox__icon {
  width: 12px;
  height: 9px;
  fill: #ffffff;
}

.checkbox--acept {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox--acept:checked + .checkbox__wrapper {
  background-color: #2196f3;
  fill: #ffffff;
  border: #2196f3;
  fill: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__toggle {
  position: absolute;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu__container .menu__toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ffffff;
}

.nav__text {
  color: #212121;
}

.mobile-menu__nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: auto;
}
@media screen and (max-width: 390px) {
  .mobile-menu__nav {
    font-size: 35px;
  }
}
.mobile-menu__nav--current {
  color: #2196f3;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (max-width: 390px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-menu__contacts {
  margin-bottom: 64px;
}
@media screen and (max-width: 390px) {
  .mobile-menu__contacts {
    margin-bottom: 54px;
  }
}

.contacts__item--grey {
  color: #757575;
}
.contacts__item:first-child {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
@media screen and (max-width: 390px) {
  .contacts__item:first-child {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
.contacts__item:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 390px) {
  .contacts__item:last-child {
    font-size: 18px;
  }
}

.social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.social__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 390px) {
  .social__text {
    font-size: 16px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.posters__list {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.posters__list:hover, .posters__list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.posters__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.06em;
}
.posters__box {
  position: relative;
  overflow: hidden;
}
.posters__info {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  background: rgba(33, 150, 243, 0.9);
}
.posters__list:hover .posters__info {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.posters__img {
  display: block;
  width: 100%;
  height: auto;
}

.posters-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.posters-text__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
}
.posters-text__filter {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */