/* CELLAR CONTENT  */

.logo--size {
  padding-bottom: 20px;
}

.logo--white {
  color: $font-color;
}

.cellar {
  background-color: $color-futter;
  padding: 60px 0;

  &__content {
    display: flex;

      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    
    @include minW-Dt {
      align-items: baseline;
      text-align: start;
    }
  }
  &__content--box {
    @include maxW-Tablet {
      width: 100%;
    }
  }

  &__link {
    color: $font-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--grey {
    color: rgba(255, 255, 255, 60%);
  }
}

.adds {
  color: $font-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  
    &__item:not(:last-child) {
      padding-bottom: 9px;
    }
    &__item:last-child {
      margin-bottom: 60px;
    }
  

  @include minW-Dt {
    &__item:not(:last-child) {
      padding-bottom: 9px;
    }
    &__item:last-child {
      margin-bottom: 0;
    }
  }
}

/* PART CELLAR  */

.part-cellar {
  margin-left: 0;
  @include minW-Tablet {
    margin-left: 165px;
  }
  @include minW-Dt {
    margin-left: 70px;
  }
}

.cellar-icon {
  display: flex;
  @include maxW-Tablet {
    margin-bottom: 60px;
  }

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list:not(:last-child) {
    margin-right: 10px;
  }

  &__link:hover,
  &__link:focus {
    background: none;
    background-color: $accent-color;
  }
  &__item {
    fill: $font-color;
    width: 20px;
    height: 20px;
  }
}

.part-cellar__title,
.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $font-color;
}

/* FORM-CELLAR */

.footer-form {
  @include minW-Dt {
    margin-left: 93px;
  }
  &__input {
    height: 50px;
    max-width: 450px;
    width: 100%;
    padding: 15px 0;
    padding-left: 16px;
    margin-bottom: 20px;

    background-color: var(--color-futter);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $font-color;

    @include minW-Phone {
      display: block;
      width: 450px;
    }

    @include minW-Dt {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 12px;
      width: 358px;
    }
  }

  &__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
