.logo {
  font-family: $fontRel;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1923;

  @include minW-Dt {
    font-size: 26px;
  }

  &__text {
    color: $accent-color;
  }
}

.logo-mobile--position {
    @include maxW-Tablet {
    position: absolute;
    left: 15px;

  }
}
