.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @include minW-Tablet {
    display: none;
  }

  &__toggle {
    position: absolute;
    right: 15px;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    @include minW-Tablet {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: $font-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  &__container.is-open {
    transform: translateX(0);
  }

  &__container .menu__toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $font-color;
  }
}

.nav__text {
  color: $primary-text-color;
} 

.mobile-menu {
  &__nav {
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    font-size: calc(24px + 16 * ((100vw - 320px) / (480 - 320)));

    margin-bottom: auto;

    &--current {
      color: $accent-color;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__social {
    display: flex;
  }
}

.contacts__item {
  &--grey {
    color: $duo-text-color;
  }
  &:first-child {
    font-weight: 500;
    font-size: calc(20px + 16 * ((100vw - 320px) / (480 - 320)));
    line-height: 1.1764;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  &:last-child {
    font-weight: 500;
    font-size: calc(10px + 16 * ((100vw - 320px) / (480 - 320)));
    line-height: 1.1666;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }
}

.social {
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  &__text {
    font-weight: 500;
    font-size: calc(6px + 16 * ((100vw - 320px) / (480 - 320)));
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}
