/* MODAL */

.close-button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background: $font-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &__icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:hover,
  &__icon:focus {
    fill: $accent-color;
  }
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  // width: 100%;
  // height: 100%;
  max-width: 100%;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;

  background: $font-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include minW-Phone {
    width: 450px;
    height: 609px;
  }
  @include minW-Dt {
    width: 530px;
    height: 580px;
  }

  &__title {
    padding: 0 40px;
    padding-top: 40px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    @include minW-Dt {
      font-size: 20px;
      line-height: 1.15;
    }
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  .modal {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

/* FORM-MODAL */

.modal-form {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;

  &__input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: $accent-color;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__box {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 12px;
    transform: translateY(100%);
    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus,
  &__feedback:focus {
    border: 1px solid $accent-color;
  }

  &__input:focus + &__icon {
    fill: $accent-color;
  }

  &__name {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: $duo-text-color;
  }

  & > .modal-button {
    margin: auto;
    margin-bottom: 40px;
    display: block;
  }

  &__feedback {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: $accent-color;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__feedback::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    @include minW-Dt {
      font-size: 12px;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;

  &__link {
    text-decoration: underline;
    text-underline-position: under;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6666;
    letter-spacing: 0.03em;
    color: $accent-color;

    @include minW-Dt {
      font-size: 14px;
      line-height: 1.714;
    }
  }

  &__text {
    margin-left: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    color: $duo-text-color;

    @include minW-Dt {
      font-size: 14px;
      line-height: 1.714;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: transparent;
  }

  &__icon {
    width: 12px;
    height: 9px;
    fill: $font-color;
  }
}

.checkbox--acept {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox--acept:checked + .checkbox__wrapper {
  background-color: $accent-color;
  fill: $font-color;
  border: $accent-color;
  fill: $font-color;
}
