$primary-text-color: #212121;
$duo-text-color: #757575;
$accent-color: #2196f3;
$font-color: #ffffff;
$color-filters: #f5f4fa;
$color-futter: #2f303a;
$color-font-posters: #eeeeee;

//FONTS
$fontRob: "Roboto", sans-serif;
$fontRel: "Raleway", sans-serif;
